*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#ecf0f3 ;
    font-family: sans-serif;
    outline:none ;
}
h1{
    align-items: center;
    justify-content:center;    
    display:flex;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.calculator{
    background-color:rgb(58,68,82);
    padding: 15px;
    border-radius: 20px;
    box-shadow: -8px -8px 15px rgba(225, 225, 225, 0.1) ,5px 5px 15px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(4,68px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 20px;
    color: rgb(70,70, 70);            
    font-size: 50px;
    text-align:right;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 30px;
}
button{
    height: 50px;
    width: 50px;
    background-color:rgb(58,68,82);
    box-shadow: -5px -5px 12px gray,
                5px 5px 12px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 50%;
    margin: 8px ;
    font-size: 20px;
    color: white;
    font-weight: bold;

}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color:rgb(58,68,82);
    box-shadow: inset -5px -5px 12px gray,
                inset 5px 5px 12px rgba(0, 0, 0, 0.16);

}